/* About.module.css */

.aboutContainer {
    max-width: 80rem;
    margin: auto;
    padding: 65px 95px 45px 55px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 30px;
    color: black;
   
 
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  p {
    margin-top: 20px;
    line-height: 1.6;
    color: #666;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Adjust the styles as needed for your design */
  